.heading
{
    text-align: left;
    width: 100%;
}

.heading h3
{
    display: inline;
}

.heading button
{
    float: right;
    border: 1px solid snow;
}

.big_image
{
    width: 100%;
}

#start, #status
{
    font-size: 22px;
}

h4
{
    color: snow;
    background-color: black;
    line-height: 2;
    margin: 0px;
}

.modal-dialog
{
    width: 90%;
}